<h1>Suscriptores</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Agregar suscriptor</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 15%">Nombres</th>
      <th style="width: 15%">Apellidos</th>
      <th style="width: 15%">Usuario</th>
      <th style="width: 30%">Correo</th>
      <th style="width: 15%">Contacto</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.FirstName }}</td>
      <td>{{ user.LastName }}</td>
      <td>{{ user.UserName }}</td>
      <td>{{ user.Email }}</td>
      <td>{{ user.PhoneNumber }}</td>
      <td style="white-space: nowrap">
        <a routerLink="edit/{{ user.Id }}" class="btn btn-sm btn-primary mr-1">Editar</a>
        <button (click)="deleteUser(user.Id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
          <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!user.isDeleting">Eliminar</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!users">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
