<div class="p-4">
  <div class="container">
    <h1 class="greetings">Bienvenid@ {{ user.firstName }}!</h1>
    <p class="info">Has iniciado sesión en la empresa “Patatas Subscribers ToGo”</p>
    <p><a class="subscriber-access" routerLink="/users">Aquí puedes administrar los suscriptores</a></p>
    <div class="empresa mt-5 mb-3 p-0 container-fluid d-block d-sm-flex align-items-end justify-content-between">
      <p>Ejercicio proporcionado por..</p>
      <img class="img-fluid" src="https://www.rutanmedellin.org/images/tekus.jpg" alt="Logo TEKUS">
    </div>
  </div>
</div>
